.inputContainer {
  display: flex;
  width: 952px;
  margin: auto auto 8px;
  gap: 12px;
  justify-content: space-between;
}

.input {
  width: initial;
}

.listContainer {
  display: flex;
  align-items: center;
  margin: 112px auto auto;
  width: fit-content;
  gap: 16px;
}
